:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --background-black-color: #2f303a;
}

body {
  font-family: "Roboto"; sans-serif;
  color: var(--primary--text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.title {
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
}

.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--accent-color);
}

/* --------------------------------HEADER-------------------------------------------- */

.header-logo {
color: #000000;
}

.nav-link,
.contacts-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.nav-link {
  color: var(--primary--text-color);
}

.nav-link.current {
color: var(--accent-color);
}
.contacts-link {
  color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* --------------------------------HERO----------------------------- */

.hero {
background-color: var(--background-black-color);
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
}

.hero-btn {
font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
border-style: none;

color: var(--primary-white-color);
background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188CE8;
}

/* -----------------------------FEATURES----------------------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-subtitle {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.features-text {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color:var(--secondary-text-color);
}

/* -----------------------------------TEAM-------------------------------- */

.team {
  background-color: var(--secondary-white-color);
}

.team-item {
  background-color: var(--primary-white-color);
}

.team-subtitle,
.team-text {
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

.team-subtitle {
font-weight: 500;
}

.team-text {
  color: var(--secondary-text-color);
}

/* ------------------------------------FOOTER--------------------------------- */

.footer {
  background-color: var(--background-black-color);
}

.footer-logo {
color: var(--primary-white-color);
}

.address {
  font-style: normal;
}

.address-link {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color:rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.map {
  color: var(--primary-white-color);
}

/* -----------------------------------PORTFOLIO-PROJECTS---------------------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.projects-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
border-style: none;

background-color: var(--secondary-white-color);
color:var(--primary-text-color);
}

.projects-btn:hover,
.projects-btn:focus {
  background-color:var(--accent-color);
  color: var(--primary-white-color);
}

.examples-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.examples-text {
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;

color:var(--secondary-text-color);
}